#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Wrapper {
  height: 100vh;
}

.MainArea {
  display: flex;
  align-items: center;
}

.Svg {
  width: 500px;
  height: 500px;
  border: 1px dashed wheat;
}

.Menu {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.GridCell{
  stroke: #ccc;
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 2
}

.PointList {
  
}